---
---

<div class="flex flex-col items-center justify-center mx-auto max-w-5xl">
    <div class="w-full h-fit flex flex-col justify-start px-4 py-8 md:py-12 items-center">
        <div class="w-full flex flex-col items-center justify-center gap-4">
            <p class="w-full">
                Hola! Soy Gerardo Gallegos Jr. 
                Ingeniero en Sistemas Computacionales enfocado en el desarrollo de Software como Full Stack Developer y actualmente estudiando una maestría 
                en Ingeniería de Software para ser un mejor profesionista y brindar software de mayor calidad.
            </p>
            <p class="w-full">
                Actualmente tengo el privilegio de hacer software con las últimas tecnologías en cuanto a desarrollo web e interfaces accesibles con un enfoque moderno 
                para los clientes de una <a class="custom-link" target="_blank" rel="noopener noreferrer" href="https://cordovaindustrial.com/">empresa de automatización industrial</a>, 
                para marcas que venden <a class="custom-link" target="_blank" rel="noopener noreferrer" href="https://intelihogar.com/">casas inteligentes</a> y que brindan el servicio de
                <a class="custom-link" target="_blank" rel="noopener noreferrer" href="https://enegrin.com/">energias limpias</a>. 
            </p>
            <p class="w-full">
                Mi objetivo es el mejorar de forma constante, aprender de todos mis errores y siempre resolver los desafíos complejos que requieren una solución complicada de entender. 
                Siempre me ha apasionado el aprendizaje continuo del desarrollo de Software.
            </p>
        </div>
    </div>
</div>