---
import DownloadIcon from "../ui/DownloadIcon.astro";
import LinkButton from "../ui/LinkButton.astro";
import { m } from '../../paraglide/messages';
// import { t } from 'ez-i18n:runtime';
// console.log('info', Astro.locals);

---

<div class="flex flex-col-reverse xl:flex-row gap-1 w-full *max-w-5xl">
    <div class="w-full h-full flex flex-col gap-8 justify-center items-start">
        <!-- <h1 id="fullName" class="font-bold text-xl">Gerardo Gallegos Jr</h1> -->
        <h1 id="hero-name" class="px-2 w-full text-4xl tracking-tighter text-balance max-lg:font-medium max-sm:px-4 sm:text-5xl lg:text-6xl xl:text-8xl font-['Switzer-Light']">
            {m["hero_section.greetings"]()}
        </h1>
        <!-- <span class="text-center text-[2.5rem] font-['Switzer-Medium'] w-full lg:w-3/5 h-16 border border-(--accent) relative before:content-['role-span'] before:absolute before:text-xs before:-left-px before:-top-5 before:bg-(--accent) before:py-0.5 before:px-1  before:text-(--background) mt-5">
            {t('hero_section.title')}
        </span> -->

        <p class="max-w-(--breakpoint-md) mx-4 px-2 text-base/7 text-gray-500 border border-blue-500/80 relative before:content-['description-span'] before:absolute before:text-xs/6 before:-left-px before:-top-7 before:bg-blue-500/80 before:py-0.5 before:px-1 before:text-(--background) before:font-mono before:whitespace-pre">
            { m["hero_section.description"]() }
        </p>
        <div class="px-4 flex gap-2 flex-row items-center justify-start">
            <LinkButton target="_blank" width="[14rem]" id="downloadCVButton" href="/downloadable_resources/Gerardo_Gallegos_Jr_Resume.pdf">
                { m["hero_section.download_cv"]() }

                <DownloadIcon/>
            </LinkButton>

            <LinkButton target="_blank" width="[14rem]" id="linkedinButton" href="https://www.linkedin.com/in/gerardo-gallegos-jr/">
                { m["hero_section.linkedin"]() }
                <span class="material-symbols-rounded">
                    send
                </span>
            </LinkButton>
        </div>
    </div>
    <!-- <div class="w-full h-full flex items-center justify-center !px-4 !py-4 md:!py-0">
            <div class="relative flex items-center justify-center md:h-[80%] max-w-screen-xl">
                <Image src={Background} alt="Imágen de Ciudad Cyberpunk" class="z-5 absolute rounded-full !mb-[4rem]"/>
                <Image src={Avatar} alt="Avatar de Gerardo" class="z-10 h-[38vh] xl:h-fit image-mask !mt-[4rem]"/>
                
            </div>
    </div> -->
</div>

<script>
    import gsap from "gsap";
    import SplitText from "gsap/src/SplitText";

    const tl = gsap.timeline();
    const split = new SplitText("#hero-name", {type:"words", wordsClass: "word-animated"});
    console.log('split', split);
    
    const { words } = split;
  
    // Animación limpia y rápida
    // tl.from(words, {
    //     duration: 1,
    //     y: 50,
    //     opacity: 0,
    //     rotateX: -90,
    //     transformOrigin: "0% 50% -50",
    //     ease: "back.out(1.2)",
    //     stagger: 0.1
    // });

    // Animación tipo flip
    // gsap.from(split.words, {
    //     duration: 0.8,
    //     rotationY: 90,
    //     opacity: 0,
    //     transformOrigin: "0% 50%",
    //     ease: "power3.out",
    //     stagger: {
    //     each: 0.15,
    //     from: "start"
    //     }
    // });

    // Configuración inicial - TODAS las palabras
    gsap.set(words, {
        opacity: 0,
        scale: 0,
        y: 30
    });
    
    // Aplicar gradiente SOLO a la última palabra
    const lastWord = words[words.length - 1];
    lastWord.classList.add(
        'bg-gradient-to-r',
        'from-blue-500/80',
        'to-blue-500',
        'bg-clip-text',
        'text-transparent'
    );
    
    // Animación
    gsap.to(words, {
        duration: 0.7,
        opacity: 1,
        scale: 1,
        y: 0,
        ease: "elastic.out(1, 0.5)",
        stagger: 0.12
    });
   
</script>