---
import Container from '../../components/Container.astro';
import PresentationSection from './../landing/PresentationSection.astro';
import ProjectsDemo from './../test/projects-demo.astro';
---
<div>
	<Container className="h-screen">
		<PresentationSection>
		<ProjectsDemo/>
	</Container>

</div>
