---
import { studies } from '../../env/strings'

---

<div class="-my-6 group/list pt-8 max-w-screen-xl">

    {
      studies.map(({title, startDate, endDate, description}) => (
        <div class="relative pl-8 sm:pl-12 pr-2 py-6 group lg:hover:opacity-100 lg:group-hover/list:opacity-50
            motion-reduce:transition-none border border-transparent hover:lg:bg-(--text-grayRGBA) rounded-md">
            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-(--text-gray) sm:before:ml-6 before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-(--background) after:border-[3px] after:box-content after:border-(--accent-text) after:rounded-full sm:after:ml-6 after:-translate-x-1/2 after:translate-y-1.5">
                
                <div class="w-full flex flex-col-reverse md:flex-row items-center md:justify-center text-lg">
                  <div class="w-full text-xl font-bold text-(--accent-text)">{title}</div>
                  <div class="text-start md:text-end w-full flex flex-row items-center md:justify-end">
                    <span class="material-symbols-rounded hidden md:block text-(--text-gray)">
                      calendar_month
                    </span>
                    <span class="text-xl underline text-(--text-gray)">
                      {startDate} {endDate !== '' ? '-' : ''} {endDate}
                    </span>
                  </div>
    
                </div>
            </div>
            <div class="text-(--accent-text)" set:html={description}>
            </div>
        </div>    
      ))
    }

</div>

<style>

@mixin tablet-and-up {
    @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
    @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
    @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
    @media screen and (max-width: 600px) { @content; }
}


ul, li{
  list-style: none;
  padding: 0;
}

.sessions{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
li{
  padding-bottom: 1.5rem;
  border-left: 1px solid var(--accent-text);
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    background: var(--background);
    border: 2px solid var(--text-gray);
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 0px;
  }
}
.time{
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  @include mobile-and-up{
    font-size: .9rem;
  }
  @include mobile-only{
    margin-bottom: .3rem;
    font-size: 0.85rem;
  }

}
p{
  color: #4f4f4f;
      font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
  @include mobile-only{
    font-size: .9rem;
  }
}
</style>
