---
import Layout from "../layouts/Layout.astro";
import ContainerTitle from "../components/ui/ContainerTitle.astro";
import HeroSection from "../components/landing/HeroSection.astro";
import Container from "../components/ui/Container.astro";
import AboutMeSection from "../components/landing/AboutMeSection.astro";
import ProjectsPreviewContainer from "../components/landing/ProjectsPreviewContainer.astro";
import WorkExperienceTimeline from "../components/landing/WorkExperienceTimeline.astro";
import { m } from "../paraglide/messages";
---

<Layout>
	<Container id="hero-section" className="flex flex-col items-start justify-center min-h-screen pt-20 ">
		<HeroSection/>
	</Container>
	<ContainerTitle title={m["about_me.title"]()} subtitle="section-1"/>
	<Container>
		<AboutMeSection/>
	</Container>
	<ContainerTitle title={m["work_experience.title"]()} subtitle="section-2"/>
	<Container>
		<WorkExperienceTimeline/>
	</Container>
	<ContainerTitle title={m["last_projects.title"]()} subtitle="section-3"/>
	<Container>
		<ProjectsPreviewContainer/>
	</Container>
	<Container className="h-fit py-4 pb-12 text-base/7 text-gray-500 [&_a]:underline [&_a:hover]:text-blue-500" set:html={
		m.footer_text({
		figma: '<a href="https://www.figma.com" title="Figma website">Figma</a>',
		trae: '<a href="https://trae.ai" title="TRAE website">TRAE</a>',
		astro: '<a href="https://astro.build" title="Astro website">Astro.js</a>',
		tailwind: '<a href="https://tailwindcss.com" title="Tailwind CSS website">Tailwind CSS</a>',
		vercel: '<a href="https://vercel.com" title="Vercel website">Vercel</a>'
    })}></Container>
</Layout>
