---
const { className } = Astro.props
---

<section 
  class={"fixed top-0 w-full transition duration-300 h-20 z-50 px-4 "+ className}
>
    <div class="px-2.5 pt-20 w-full h-full lg:mx-auto *max-w-5xl border-x border-x-gray-200">
        <slot />
    </div>
</section>