---

import LanguageSwitcher from './ui/LanguageSwitcher.astro';
import LinkButton from './ui/LinkButton.astro';
import LogoIcon from './ui/LogoIcon.astro';

import { localizeHref } from '../paraglide/runtime';
import { m } from '../paraglide/messages';
---

<header class="fixed top-0 w-full transition duration-300 h-16 z-50 border-b border-b-gray-200 px-4" x-data="{ scrolled: false }"
  x-init="window.onscroll = () => { scrolled = (document.body.scrollTop > 42 || document.documentElement.scrollTop > 42) }" :class="{ 'bg-white/70 backdrop-blur-sm': scrolled, 'bg-transparent': !scrolled }"
>
    <nav class="px-2.5 w-full h-full lg:mx-auto *max-w-5xl flex flex-row items-center justify-between" :class="{ 'border-x border-x-transparent': scrolled, ' border-x border-x-gray-200': !scrolled }">

      <a href={("/")} class="flex flex-row gap-2 items-center justify-center">
        <div class="flex items-center justify-center p-1.5 bg-(--text) rounded-full w-10 h-10">
          <LogoIcon className="w-3/4 h-3/4 text-white mr-0.5" />
        </div>
        <div class="flex flex-col items-start justify-center gap-0">
          <span class="hidden md:block text-start title uppercase leading-4">Gerardo Gallegos Jr</span>
          <span class="hidden md:block text-start title uppercase leading-4">SOFTWARE DEVELOPER</span>
        </div>
      </a>
    
      <div class="flex flex-row items-center justify-center gap-2">
        <LinkButton target="_blank" width="[14rem]" id="send-mail-button" href="mailto:gera.ga.dev@gmail.com">
          { m['nav.send_mail']() }
          <span class="material-symbols-rounded">
              send
          </span>
        </LinkButton>
        <LanguageSwitcher/>
      </div>
    </nav>
</header>

<script>
  import gsap from 'gsap';

  let tl = gsap.timeline();
  tl.from('nav', {
    y: -100,
    duration: 0.8,
    opacity: 0,
    ease: 'power2.out'
  })

  tl.from('a', {
    y:0,
    duration: 0.5,
    stagger: 0.2,
    ease: 'back.out'
  })
</script>