---
// interface Props {
//   text: string;
//   triggerDistance?: number; // pixels
//   scrambleChars?: string;
//   animationDuration?: number;
//   revealDuration?: number;
//   scrambleOnEnter?: boolean;
//   className?: string;
// }

// const {
//   text = "Hover to scramble",
//   triggerDistance = 100,
//   scrambleChars = "!<>-_\\/[]{}—=+*^?#________",
//   animationDuration = 0.5,
//   revealDuration = 0.8,
//   scrambleOnEnter = true,
//   className = ""
// } = Astro.props;
---

<div class="absolute top-0 left-0 right-0 bottom-0 py-16 px-4 *preserve-3d *perspective-[1000px] text-(--accent) pointer-events-none font-light font-mono text-sm overflow-auto whitespace-pre opacity-20 flex flex-col gap-0">

    <!-- Línea 2: Constante -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ">
      const ItWorksOnMyMachine = true;
    </span>
    <!-- Línea 3: Función flecha con parámetro -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] *text-(--accent)">
      const JustOneMoreCommit = () =&gt; &lcub;
    </span>
    
    <!-- Línea 4: While loop -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4">
      while (true) &lcub;
    </span>
    
    <!-- Línea 5: Console log -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8 *text-(--accent)">
      console.log("Just one more commit...");
    </span>
    

    <!-- Línea 6: Declaración variable -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      const coffeeLevel = Coffee.Drink();
    </span>
    

    <!-- Línea 7: If statement -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      if (coffeeLevel &lt; 20) &lcub;
    </span>
    

    <!-- Línea 8: Llamada método -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-12 *text-(--accent)">
      Coffee.Refill();
    </span>
    

    <!-- Línea 9: Llave cierre -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      &rcub;
    </span>
    

    <!-- Línea 10: Otro if -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      if (Deadline.WasYesterday()) &lcub;
    </span>
    

    <!-- Línea 11: Llamada función -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-12 text-blue-300">
      WorkOvertime();
    </span>
    

    <!-- Línea 12: Llave cierre -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      &rcub;
    </span>
    

    <!-- Línea 13: Llave cierre while -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4">
      &rcub;
    </span>
    

    <!-- Línea 14: Llave cierre función -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ">
      &rcub;;
    </span>
    
    

    <!-- Línea 15: Array constante -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] *text-(--accent)">
      const TODO = [
    </span>
    

    <!-- Línea 16-20: Elementos array -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8 *text-(--accent)">
      "FixThisLater",
    </span>
    

    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8 *text-(--accent)">
      "AddProperErrorHandling",
    </span>
    

    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8 *text-(--accent)">
      "WriteUnitTests",
    </span>
    

    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8 *text-(--accent)">
      "UpdateDocumentation"
    </span>
    

    <!-- Línea 21: Cierre array -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ">
      ];
    </span>
    
    

    <!-- Línea 22: Función -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] *text-(--accent)">
      function ThisIsAFeatureNotABug() &lcub;
    </span>
    

    <!-- Línea 23: Return -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4 *text-(--accent)">
      return "It&apos;s not a bug, it&apos;s a feature";
    </span>
    

    <!-- Línea 24: Llave cierre -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ">
      &rcub;
    </span>
    
    

    <!-- Línea 25: Objeto constante -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] text-purple-400">
      const TechnicalDebt = &lcub;
    </span>
    

    <!-- Línea 26-28: Propiedades objeto -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      current: 1000,
    </span>
    

    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      futureMeProblem: true,
    </span>
    

    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      willRefactorNextSprint: () =&gt; false
    </span>
    

    <!-- Línea 29: Cierre objeto -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ">
      &rcub;;
    </span>
    
    

    <!-- Línea 30: Clase -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] *text-(--accent)">
      class Coffee &lcub;
    </span>
    

    <!-- Línea 31: Propiedad estática -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4">
      static level = 100;
    </span>
    
    

    <!-- Línea 32: Método estático -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4 *text-(--accent)">
      static Drink() &lcub;
    </span>
    

    <!-- Línea 33: Operación -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      this.level -= 30;
    </span>
    

    <!-- Línea 34: If -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      if (this.level &lt;= 0) &lcub;
    </span>
    

    <!-- Línea 35: Llamada método -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-12 *text-(--accent)">
      this.Refill();
    </span>
    

    <!-- Línea 36: Llave cierre if -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      &rcub;
    </span>
    

    <!-- Línea 37: Return -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      return this.level;
    </span>
    

    <!-- Línea 38: Llave cierre método -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4">
      &rcub;
    </span>
    
    

    <!-- Línea 39: Otro método -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4 *text-(--accent)">
      static Refill() &lcub;
    </span>
    

    <!-- Línea 40: Asignación -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8">
      this.level = 100;
    </span>
    

    <!-- Línea 41: Console log con emoji -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-8 *text-(--accent)">
      console.log("☕ Refilling coffee...");
    </span>
    

    <!-- Línea 42: Llave cierre método -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ml-4">
      &rcub;
    </span>
    

    <!-- Línea 43: Llave cierre clase -->
    <span class="inline-block rotate-x-0 rotate-z-0 rotate-y-25 transform-gpu backface-hidden [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] ">
      &rcub;
    </span>
</div>

<style>
  .optimize-legibility {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .proximity-scramble {
    display: inline-block;
    position: relative;
    cursor: default;
    user-select: none;
    will-change: contents;
    contain: layout style paint;
  }
  
  /* Hide original text characters */
  .proximity-scramble .split-text-container {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .proximity-scramble .char {
    display: inline-block;
    position: relative;
    will-change: transform;
  }
  
  /* Performance optimizations */
  .proximity-scramble {
    transform: translateZ(0);
    backface-visibility: hidden;
  }
</style>

<script >
    // import gsap from 'gsap';
    // import { SplitText } from 'gsap/SplitText';
    // import { ScrambleTextPlugin } from 'gsap/ScrambleTextPlugin';
  
  document.addEventListener('astro:page-load', () => {
    const elements = document.querySelectorAll('.proximity-scramble');
    console.log('scrambled load', elements);
    
  });
</script>