---
import NavigationBar from '../components/NavigationBar.astro';
import CursorDecorator from '../components/ui/CursorDecorator.astro';
import '../styles/global.css';
import { m } from '../paraglide/messages';
import { getLocale, localizeHref } from '../paraglide/runtime';
import { SEO, type Props as SEOProps } from 'astro-seo';
import '../styles/switzer.css'; // Importación directa

interface Props {
	// title: string;
	seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang={getLocale()}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<SEO
			{...seo}
			title={seo?.title ?? m['portfolio.title']()}
			description={seo?.description ?? m['portfolio.description']()}
	  	/>
	</head>
	<body>
		<main class="relative">
			<NavigationBar/>
			<CursorDecorator/>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--background: #FFFFFF;
		--backgroundRGB: rgb(255,255,255);
		--backgroundRGBA: rgba(255,255,255, 0.6);
		--titleRGBA: rgba(255,255,255, 0.6);
		--accent-text: #3D4043;/*circle*/
		--text: #212330;
		--textRGB: rgb(33, 35, 48);
		--text-gray: #8B8B8B;
		--text-grayRGB: rgb(139, 139, 139);
		--text-grayRGBA: rgb(139, 139, 139, 0.1);
		--text-gray-40: rgb(139, 139, 139, 0.4);
		--accent: #0067ff;/*#3773E0;*/
		--accentRGB: rgb(55,115,224);
		--accent-radial: rgba(55,115,224,0.12);
		--accent-darker: #1456B8;/*#3666A1;*/
		--accent-darkerRGB: rgb(3, 3, 3);
		--new-accent: #87BFFF;
		--bright-accent: #0067ff;
		--pattern-fg: color-mix(in oklab, var(--background) 10%, transparent);
		/* published, in-progress, hold, inactive */
		--published: #4E937A;
		--in-progress: #F0A202;
		--hold: #EFE9F4;
		--inactive: #F24236;
		/* --accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101; */
		--accent-gradient: linear-gradient(
			45deg,
			var(--bright-accent),
			var(--accent) 30%,
			white 60%
		);

		--accent-gradient-test: linear-gradient(
			45deg,
			var(--accent),
			var(--accent-darker) 30%,
			white 60%
		);

	}

	html, body, * {
		cursor: none !important; /* ¡ESTO OCULTA EL CURSOR NATIVO! */
		webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	h1 {
		/* font-size: 1.75rem; */
		/* font-weight: 700; */
		line-height: 1;
		/* text-align: start; */
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		&.title {
			font-size: 2rem;
			text-indent: 0px;
		}
		&.subtitle {
			font-size: 1.75rem;
			text-indent: 0px;
		}
	}

	@media (min-width: 1024px) { 
		h1 {
			/* font-size: 1.75rem; */
			&.title {
				font-size: 2.75rem;
			}
		}
	}

	.text-gradient {
		background-image: var(--accent-gradient-test);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.two-line-trunc {
		display: -webkit-box;
		max-width: 100%;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	body.preload *{
		animation-duration: 0s !important;
		-webkit-animation-duration: 0s !important;
		transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
	}

	/* h1,
	h2,
	h3,
	h4,
	h5,
	span:not(.material-symbols-rounded),
	div:not(.download-icon),
	button,
	p {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: var(--accent-text);
	} */

	.material-symbols-rounded {
		font-variation-settings:
		'FILL' 0,
		'wght' 300,
		'GRAD' 0,
		'opsz' 24
	}

	.kode-mono {
		font-family: "Kode Mono", monospace;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	/* 
	12px - 14px small text
	16px - base text
	18px - big text
	20px - subtitles maybe
	30px - subtitles
	48px - title
	*/

	html {
		font-family: "Switzer-Regular", sans-serif !important;
		/* font-optical-sizing: auto; */
		font-weight: 400;
		font-style: normal;
		letter-spacing: -0.02rem;

		background: var(--background);
		color: var(--text);
		animation-timing-function: linear;
		background-size: 224px;
		scroll-behavior: smooth !important;
	}

	body {
		overscroll-behavior: none;
		scroll-behavior: smooth;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>