---
const { className, id, title, subtitle } = Astro.props;

const words = title.split(' ');
---

<section id={id}
  class={"sticky top-16 left-0 z-40 w-full duration-300 px-4 bg-[--title]/40 backdrop-blur-sm supports-backdrop-filter:bg-(--titleRGBA) transition-all md:static flex flex-row "+ className}
>
    <div class="w-full h-full lg:mx-auto border-x border-x-gray-200 overflow-y-auto before:content-[''] before:absolute before:top-0 before:left-0 before:bg-gray-200 before:w-full before:h-px after:content-[''] after:absolute after:bottom-0 after:left-0 after:bg-gray-200 after:w-full after:h-px flex flex-col overflow-hidden">
        <span class="flex min-h-6 items-end px-2 font-mono text-xs/6 whitespace-pre text-black/20 max-sm:px-4 sm:h-10">
            {subtitle || 'section'}
        </span>
        <h2 class="max-w-lg px-2 text-[2.5rem]/10 tracking-tighter text-balance max-sm:px-4 2xl:mt-0 min-h-10 mb-2">
            <!-- px-2.5 -->
            {
                words.map((word, index) => (
                    <span class={ 'text-[2.5rem]/10 ' + (index === words.length - 1 ? 'bg-linear-to-r from-blue-500/80 to-blue-500 bg-clip-text text-transparent' : 'text-(--text)') }>
                    {word}
                </span>
            ))
          }
          &nbsp;
          <slot/>
        </h2>
        <div class="w-10 row-span-full row-start-1 hidden border-l border-l-gray-200 bg-[repeating-linear-gradient(315deg,var(--pattern-fg)_0,var(--pattern-fg)_1px,transparent_0,transparent_50%)] bg-size-[10px_10px] bg-fixed [--pattern-fg:var(--text)]/10 md:col-start-3 md:block"></div>
    </div>
</section>