---
const { className, id } = Astro.props
---

<section id={id}
  class={"relative top-0 w-full transition duration-300 h-fit *min-h-screen px-4 "}
>
    <div class={"px-2.5 w-full h-fit *min-h-screen lg:mx-auto *max-w-5xl border-x border-x-gray-200 overflow-y-auto after:content-[''] after:absolute after:bottom-4 after:left-0 after:bg-gray-200 after:w-full after:h-px "+ className}>
      <slot />
    </div>
</section>