---
const { href, id, width, target, extraClasses } = Astro.props

const actualClasses: string = `
    inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 
    text-[var(--text)] transition bg-transparent border border-[var(--text)] 
    focus-visible:ring-[var(--accent-dark)] text-md hover:bg-[var(--text)]
    group rounded-full hover:text-[var(--background)] focus:outline-none focus-visible:outline-none 
    focus-visible:ring focus-visible:ring-offset-2 lg:hover:scale-105
    `
---

<a id={id} role="link" href={href} target={target}
    class={extraClasses+' '+actualClasses+' !w-'+width}
    >
  <slot />
</a>

<style>
  a .material-symbols-rounded {
    color: var(--text);
  }

  a:hover .material-symbols-rounded {
    color: white;
  }

  a .download-icon .material-symbols-rounded {
    color: var(--text);
  }

  a:hover .download-icon .material-symbols-rounded {
    color: white;
  }
</style>